* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;

  font-size: 12px;
  font-family: "Spartan", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
hr {
  border: 2px solid rgb(101, 101, 101);
}
.stylehr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double rgb(120, 119, 119);
  color: rgb(255, 255, 255);
  text-align: center;
}
.stylehr:before {
  content: "VS";

  background-color: black !important;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
h2 {
  font-size: 22px;
  height: 24px;
  font-weight: 700;
}
.navbar {
  font-size: 19px;
  height: 24px;
}
.weather {
  color: white;
}
.logoNewsweek {
  background-color: rgb(255, 7, 0);
  margin: 0;
}

.logo {
  max-width: 500px;
}
.loginButton {
  color: white;
}
nav ul li a {
  color: black;
  margin: 0 auto;
}
nav {
  border-bottom: 2px solid rgb(222, 217, 217);
  padding-left: 0;
}

nav .nav-item {
  border-right: 1px solid rgb(222, 217, 217);
  padding: 0 1rem;
}
.container-fluid {
  padding-left: 0;
  margin-left: 0;
}
nav ul li a:hover {
  color: rgb(255, 7, 0);
}
.trending {
  border-bottom: 1px solid rgb(222, 217, 217);
}
.trending a {
  color: rgb(123, 118, 118);
}
.trending a:hover {
  color: rgb(255, 7, 0);
}
.trending ul {
  margin-bottom: 0;
}
.cardsBottom {
  border: none;
  border-top: 1px solid rgb(6, 6, 6);
  margin: 0;
}
.writer h5 {
  font-size: medium;
}
.writer p {
  font-size: small;
}
.head {
  font-size: medium !important;
}
.fitt {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
